.function-btn {
  -fx-background-color: none;
  -fx-text-fill: white;
  -fx-background-radius: 12px;
}

.function-btn:hover {
  -fx-background-color: white;
}

.function-btn:hover .icon {
  -fx-fill: #002060;
}